body {
    background-color: #9AD0EC ;
}
hr {
    border-style: dotted none none;
    border-color: white;
    border-width: 10px;
    width: 10%;
}

h1 {
    color: white ;
    text-shadow: 2px 2px 8px black;
}

h3 {
    color: rgb(10,10,100);
    
}